@keyframes moveMenuDown {
  0% {
    opacity: 0;
    transform: translateY(-50vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);    
  }
}

@keyframes moveMenuUp {
  0% {
    opacity: 1;
    transform: translateY(57vh);
  }

  100% {
    opacity: 0;
    transform: translateY(0);    
  }
}

@keyframes loadingSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}