.all-services-container {
  width: 100%;
  height: 100%;
  padding: 2rem;

  display: grid;
  grid-template-columns: 3rem [center-starts] repeat(8, minmax(min-content, 20rem)) [center-ends] 3rem;
}

.services-cards {
  grid-column: center-starts / center-ends;

  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  grid-gap: 5rem;
  justify-content: center;

  &__card {
    width: 100%;
    background-color: $color-primary-light-4;
    padding-right: 2rem;

    display: grid;

    img {
      height: 30rem;
      width: 35rem;
    }
  }
}