.btn {
  background-color: $color-primary;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: $color-primary-dark;
    transform: translateY(-2px);
  }

  &:active {    
    transform: translateY(-1px);
  }

  &:focus {
    outline: none;
  }

  &-small {    
    padding: .7rem 1rem;
  }

  &-cancel {
    background-color: orangered;
    &:hover {
      background-color: red;
    }
  }

  &-edit {
    background-color: $color-secondary-light;
    &:hover {
      background-color: $color-secondary-light-2;
    }
  }

  &-close {
    background-color: transparent;
    color: orangered;
    &:hover {
      background-color: transparent;
    }
  }

  &-add {
    background-color: $color-green;
    &:hover {
      background-color: $color-green-hover;
    }
  }

  &-round {
    border-radius: 50%;
    padding: .9rem 1.1rem;
  }

  &-disabled {
    &:hover {
      background-color: $color-primary;
    }
    opacity: .35;
  }
}