.input {
  padding: .6rem 1.5rem;
  border: 2px solid $color-grey-light-2;
  outline-style: none;
  border-radius: 5px;
  width: 100%;

  &__add {
    border-color: $color-green;
    background-color: $color-green-light-transparent;
  }
}

.input-error {
  font-size: 1.4rem;
  padding-top: .5rem;
  color: rgba(255, 68, 0, 0.8);
}

.invalid {
  outline-color: orangered;
  background-color: rgba(255, 68, 0, 0.05);
  border-style: none;
  border: 2px solid rgba(255, 68, 0, 0.5);
}