.login-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;

  display: grid;
  align-content: center;
  justify-content: center;

  grid-template-columns: [login-start] minmax(3rem, 1fr) 
    repeat(8, [col-start-login] minmax(min-content, 14rem) [col-end-login])
    minmax(3rem, 1fr) [login-end];
}

.login-form-container {
  padding: 5rem;
  box-shadow: -1rem 1rem 4rem rgba(0, 0, 0, 0.15);
  grid-column: col-start-login 3 / col-end-login 6;
}