.login-container {
  grid-column: 1 / -1;  
  min-height: 100vh;

  background-image: linear-gradient( to right bottom,
    rgba(black, 0.75),
    rgba(black, 0.75)),
    url(./Assets/Images/Project/login.jpg);
  
  background-size: cover;
  background-position: center;
  filter: blur(2px);
}

.form-container-login {
  padding: 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  background-color: rgba( white, 0.4 );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 45rem;
}

@media only screen and (max-width: $bp-400) {
  .form-container-login {
    min-width: 35rem;
  }
}