.login-container {
  grid-column: 1 / -1;  
  min-height: 87vh;
  padding: 2rem 0;

  display: grid;
  align-content: center;
  justify-content: center;

  grid-template-columns: [login-start] minmax(3rem, 1fr) 
    repeat(8, [col-start] minmax(min-content, 6rem) [col-end])
    minmax(3rem, 1fr) [login-end];
}