.reset-password-container {
  grid-column: 1 / -1;  
  min-height: 54vh;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  background-color: $color-primary-light-5;
  padding-bottom: 4rem;
}

.reset-header {
  min-height: 40vh;
  background-color: $color-primary-light-3;
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;

  .icon-reset {
    grid-column: col-start 4/ col-end 5;
    justify-self: center;
    font-size: 10rem;
    color: $color-primary-light-4;
  }
}

.reset-form-container {
  padding: 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

  min-width: 40rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  display: flex;
  flex-direction: column;
}

.reset-password-buttons {
  display: flex;
  margin-top: 2rem;

  .btn-link {
    flex: 1;
    color: red;
    border-bottom: none;
  }
}

.reset-verify {
  text-align: center;
  font-size: 1.6rem;  
  color: $color-secondary-hover;
  display: grid;
  grid-row-gap: 2rem;
  
  &-name {
    font-size: 2.5rem;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: $bp-400) {
  .reset-form-container {
    min-width: 38rem;
    padding: 3rem;
  }
}