.footer {
  grid-column: sidebar-start / full-end;
  background-color: $color-secondary-hover;
  min-height: 6vh;

  font-size: 2rem;
  color: $color-primary-light-3;

  display: grid;
  justify-content: center;
  align-content: center;

  &__autor {
    text-decoration: none;
    color: $color-primary-light-4;
  }
}

@media only screen and (max-width: $bp-500) {
  .footer {
    grid-column: full-start / full-end;
  }
}