*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #404040;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: [sidebar-start] max-content [sidebar-end full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 31.25em) {
  .container {
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; } }

@keyframes moveMenuDown {
  0% {
    opacity: 0;
    transform: translateY(-50vh); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveMenuUp {
  0% {
    opacity: 1;
    transform: translateY(57vh); }
  100% {
    opacity: 0;
    transform: translateY(0); } }

@keyframes loadingSpinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loadingModal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.footer {
  grid-column: sidebar-start / full-end;
  background-color: #192e46;
  min-height: 6vh;
  font-size: 2rem;
  color: #B0B0B0;
  display: grid;
  justify-content: center;
  align-content: center; }
  .footer__autor {
    text-decoration: none;
    color: #E0E0E0; }

@media only screen and (max-width: 31.25em) {
  .footer {
    grid-column: full-start / full-end; } }

.header {
  grid-column: sidebar-start / full-end;
  background-color: #404040;
  min-height: 7vh;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: 6rem 1fr max-content;
  align-items: center;
  text-transform: capitalize;
  color: #B0B0B0; }
  .header__logo {
    max-width: 100%;
    max-height: 100%; }
  .header__title {
    justify-self: center;
    font-size: 3rem; }
  .header__user {
    font-size: 1.8rem;
    height: 100%;
    padding: 0 2rem;
    background-color: #B0B0B0;
    color: #192e46;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    .header__user--username {
      display: grid;
      grid-template-columns: repeat(3, min-content);
      grid-column-gap: 2rem;
      align-items: center; }
    .header__user--menu {
      position: absolute;
      display: grid;
      grid-template-columns: max-content;
      background-color: white;
      box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
      z-index: 10;
      right: 0;
      top: -50vh;
      animation: moveMenuUp 1s ease; }
      .header__user--menu > * {
        padding: .3rem 2rem; }
        .header__user--menu > *:hover:not(:first-child) {
          cursor: pointer;
          color: white;
          background-color: #B0B0B0; }
      .header__user--menu__info {
        border-bottom: 1px solid #B0B0B0;
        margin-bottom: 1rem; }
        .header__user--menu__info--name {
          font-size: 1.5rem; }
        .header__user--menu__info--email {
          font-size: 1.2rem;
          text-transform: lowercase;
          float: right; }
      .header__user--menu__edit {
        text-decoration: none;
        color: #101d2c; }
      .header__user--menu__logout {
        border-top: 1px solid #B0B0B0;
        padding-top: 0px;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
    .header__user--menu-active {
      top: 7vh;
      right: 0;
      animation: moveMenuDown 1s ease; }

@media only screen and (max-width: 37.5em) {
  .header {
    padding: 0 1rem; }
    .header__title {
      font-size: 2.5rem; }
    .header__user {
      padding: 0 1rem; }
      .header__user--username {
        grid-column-gap: 1rem; } }

@media only screen and (max-width: 31.25em) {
  .header {
    grid-column: full-start / full-end; } }

@media only screen and (max-width: 25em) {
  .header__user--username {
    grid-template-columns: repeat(2, min-content); }
    .header__user--username-name {
      display: none; } }

.main-layout {
  grid-column: full-start / full-end;
  min-height: 83vh; }

@media only screen and (max-width: 31.25em) {
  .main-layout {
    display: flex;
    flex-direction: column;
    justify-content: center; } }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  background-color: #606060;
  min-height: 87vh;
  padding-top: 3rem; }

.list-of-navs {
  font-size: 1.8rem;
  display: grid;
  grid-row-gap: 1rem; }

.navlink {
  list-style: none;
  cursor: pointer;
  position: relative;
  z-index: 3; }
  .navlink .link {
    color: #E0E0E0;
    text-decoration: none;
    display: block;
    padding: 1rem 3rem 1rem 1.5rem;
    position: relative;
    transition: color .2s .2s; }
    .navlink .link svg {
      margin-right: 2rem; }
    .navlink .link-name {
      display: inline; }
  .navlink .link.active {
    color: white;
    background-color: #192e46; }
  .navlink::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #192e46;
    transform: scaleY(0);
    transition: transform .2s,  width .2s .2s; }
  .navlink:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .navlink:hover .link {
    color: white; }

.smenu {
  background-color: #2b4058;
  list-style: none;
  position: relative;
  transition: all .5s;
  max-height: 0px;
  overflow: hidden; }
  .smenu-active {
    max-height: 20rem; }
  .smenu__link {
    cursor: pointer;
    position: relative;
    font-size: 1.6rem; }
    .smenu__link::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #486f9c;
      transform: scaleY(0);
      transition: transform .25s; }
    .smenu__link:hover {
      background-color: #374e68; }
      .smenu__link:hover::before {
        transform: scaleY(1); }
    .smenu__link .link {
      text-decoration: none;
      display: block;
      padding: .9rem 1.5rem .9rem 2rem;
      color: white; }
      .smenu__link .link svg {
        margin-right: 2rem; }
      .smenu__link .link-name {
        display: inline; }
    .smenu__link .link.active {
      background-color: #374e68; }
  .smenu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 3rem;
    height: 1rem;
    width: 1rem;
    background-color: #606060;
    transform: rotate(45deg) translateY(-70%);
    z-index: 2; }

@media only screen and (max-width: 62.5em) {
  .navlink .link-name,
  .link .link-name {
    display: none; }
  .navlink .link {
    padding: 1rem 1.3rem; }
    .navlink .link svg {
      margin: 0; }
  .smenu__link .link {
    padding: 1rem 0 1rem 1.5rem; }
    .smenu__link .link svg {
      margin: 0; }
  .smenu::before {
    left: 1rem;
    height: .8rem;
    width: .8rem;
    background-color: #606060;
    transform: rotate(45deg) translateY(-70%);
    z-index: 2; } }

@media only screen and (max-width: 31.25em) {
  .sidebar {
    grid-column: full-start / full-end;
    min-height: 4vh;
    padding-top: 0; }
  .list-of-navs {
    grid-column-gap: 1rem;
    grid-template-columns: repeat(7, max-content);
    justify-content: center; }
  .navlink::before {
    top: calc(100% - 3px);
    left: 0;
    height: 3px;
    width: 100%;
    transform: scaleX(0); }
  .navlink:hover::before {
    transform: scaleX(1); }
  .smenu {
    display: flex;
    justify-content: space-around;
    max-width: 0; }
    .smenu-active {
      max-width: 10rem; }
    .smenu__link .link {
      padding: 1.2rem 1.5rem; }
    .smenu__link::before {
      top: calc(100% - 3px);
      left: 0;
      height: 3px;
      width: 100%;
      transform: scaleX(0); }
    .smenu__link:hover::before {
      transform: scaleX(1); }
    .smenu::before {
      left: -1rem;
      height: 1rem;
      width: 1rem;
      top: 2.4rem; } }

.modal {
  display: grid;
  justify-items: right;
  grid-template-columns: 1fr min-content;
  grid-row-gap: 3rem;
  column-gap: 1.5rem;
  animation: loadingModal .2s;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  z-index: 10; }
  .modal__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-size: 2rem; }
  .modal__close {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: left;
    color: red;
    font-size: 2rem;
    margin: -2rem 0 0 -2rem;
    cursor: pointer; }

.shadow-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh; }

.dark {
  background-color: rgba(0, 0, 0, 0.466); }

.loading-container {
  grid-column: 1 / -1;
  min-height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner {
  width: 10rem;
  height: 10rem;
  animation: loadingSpinner 5s infinite linear; }

.form-container {
  padding: 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  grid-column: col-start 1 / col-end 8;
  background-color: rgba(255, 255, 255, 0.4); }

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  grid-auto-flow: dense; }

.label {
  font-size: 1.6rem;
  display: block;
  margin-bottom: .5rem;
  text-transform: capitalize; }

.form-buttons {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end; }
  .form-buttons .btn {
    margin-left: 3rem; }

.form-images-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 12rem);
  justify-content: center;
  grid-gap: 1.2rem; }

.form-image-container {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center; }

.image-container {
  position: relative; }
  .image-container-big {
    object-fit: cover;
    max-width: 45rem;
    height: 30rem;
    border-radius: 5px; }
  .image-container-main {
    border: 4px solid #404040;
    border-radius: 5px; }
  .image-container-img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
    border-radius: 5px;
    transition: all .2s ease; }
  .image-container:hover .image-container-img {
    filter: blur(1px) brightness(80%); }
  .image-container-caption {
    cursor: pointer;
    position: absolute;
    top: .4rem;
    right: 1rem;
    opacity: 0;
    text-align: center;
    transition: all .2s ease;
    backface-visibility: hidden;
    color: red;
    font-size: 1.5rem; }
  .image-container:hover .image-container-caption {
    opacity: 1; }

@media only screen and (max-width: 50em) {
  .form {
    grid-gap: 2rem; }
  .form-container {
    padding: 2rem; } }

@media only screen and (max-width: 37.5em) {
  .form-images-container {
    grid-template-columns: repeat(auto-fit, 8rem);
    grid-gap: 1rem; }
  .image-container-main {
    border: 3px solid #404040;
    border-radius: 3px; }
  .image-container-img {
    width: 100%;
    height: 8rem;
    border-radius: 3px; } }

@media only screen and (max-width: 31.25em) {
  .image-container-big {
    max-width: 38rem;
    height: 25rem; } }

@media only screen and (max-width: 25em) {
  .image-container-big {
    max-width: 33rem;
    height: 23rem; } }

.input {
  padding: .6rem 1.5rem;
  border: 2px solid #B0B0B0;
  outline-style: none;
  border-radius: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35); }
  .input__add {
    border-color: #599e7e;
    background-color: #99e2c052; }

.input-error {
  font-size: 1.4rem;
  padding-top: .5rem;
  color: rgba(255, 68, 0, 0.8); }

.textarea {
  padding: .6rem 1.5rem;
  border: 2px solid #B0B0B0;
  outline-style: none;
  border-radius: 5px;
  width: 100%;
  height: 80%;
  resize: none; }

.textarea-container {
  grid-row: 2 / span 2;
  grid-column: 2 / -1; }
  @media only screen and (max-width: 75em) {
    .textarea-container {
      grid-row: 2 / span 3; } }

.select:hover {
  cursor: pointer; }

.option {
  color: #192e46; }

.input[type=date]::-webkit-inner-spin-button {
  display: none; }

.input[type=date]::-webkit-clear-button {
  display: none; }

.input[type=date]::-webkit-calendar-picker-indicator {
  font-size: 1.6rem;
  background-color: white;
  color: #B0B0B0; }
  .input[type=date]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer; }
  .input[type=date]::-webkit-calendar-picker-indicator:active {
    color: rgba(0, 0, 0, 0.7); }

.input[type=file] {
  display: none; }

.input[type=number] {
  -moz-appearance: textfield; }
  .input[type=number]::-webkit-inner-spin-button {
    display: none; }

.invalid {
  background-color: rgba(255, 68, 0, 0.05);
  border: 2px solid rgba(255, 68, 0, 0.5); }

.invalid[type=date]::-webkit-calendar-picker-indicator {
  background-color: transparent; }

@media only screen and (max-width: 50em) {
  .textarea-container {
    grid-row: 2 / 3;
    grid-column: 1 / -1; }
  .textarea {
    min-height: 20rem; } }

.btn {
  background-color: #192e46;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #2b4058;
    transform: translateY(-2px); }
  .btn:active {
    transform: translateY(-1px); }
  .btn:focus {
    outline: none; }
  .btn-small {
    padding: .7rem 1rem; }
  .btn-cancel {
    background-color: orangered; }
    .btn-cancel:hover {
      background-color: red; }
  .btn-edit {
    background-color: #486f9c; }
    .btn-edit:hover {
      background-color: #03356d; }
  .btn-close {
    background-color: transparent;
    color: orangered; }
    .btn-close:hover {
      background-color: transparent; }
  .btn-add {
    background-color: #599e7e; }
    .btn-add:hover {
      background-color: #468166; }
  .btn-upload {
    border-radius: 4px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2rem;
    align-items: center;
    justify-items: center;
    padding-left: 2rem; }
  .btn-round {
    border-radius: 50%;
    padding: .9rem 1.1rem; }
  .btn-disabled {
    opacity: .35; }
    .btn-disabled:hover {
      background-color: #404040; }
  .btn-continue {
    text-decoration: none;
    display: block;
    justify-self: center;
    background-color: #03356d;
    text-transform: capitalize;
    padding: .8rem .8rem .8rem 1.6rem; }
    .btn-continue .icon-arrow {
      transition: all .3s;
      margin-left: 2rem; }
    .btn-continue:hover {
      background-color: #03356d;
      transform: translateY(0); }
      .btn-continue:hover .icon-arrow {
        margin-left: 5rem; }

.btn-link {
  color: #202020;
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #404040;
  background-color: transparent;
  cursor: pointer; }
  .btn-link:focus {
    outline: none; }
  .btn-link-login {
    margin-right: auto;
    border-bottom: none;
    color: #192e46;
    margin-left: 0;
    align-self: center;
    border-bottom: 1px solid #192e46;
    font-size: 1.5rem; }

.login-container {
  grid-column: 1 / -1;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./Assets/Images/Project/login.jpg);
  background-size: cover;
  background-position: top;
  filter: blur(3px); }

.form-container-login {
  padding: 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 45rem; }

@media only screen and (max-width: 25em) {
  .form-container-login {
    min-width: 35rem; } }

.add-user-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) minmax(3rem, 1fr) [user-end]; }

.edit-user-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 9rem) [col-end]) minmax(3rem, 1fr) [user-end]; }

.change-password-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 5rem) [col-end]) minmax(3rem, 1fr) [user-end]; }

.change-password-cont {
  grid-column: 1 / -1;
  min-height: 94vh;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-row-gap: 6rem;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 5rem) [col-end]) minmax(3rem, 1fr) [user-end]; }
  .change-password-cont__header {
    grid-column: col-start 1 / col-end 8;
    text-align: center;
    color: #B0B0B0;
    font-size: 2rem;
    text-transform: capitalize; }
    .change-password-cont__header .icon-reset {
      font-size: 10rem;
      margin-bottom: 2rem; }

.elements-change-password {
  display: grid;
  grid-row-gap: 3rem;
  justify-items: center; }
  .elements-change-password .form {
    grid-row-gap: 2rem; }
  .elements-change-password .icon-reset {
    font-size: 4rem;
    color: #808080; }

.types-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [type-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(max-content, 9rem) [col-end]) minmax(3rem, 1fr) [type-end]; }

.types-rows-container {
  display: grid;
  grid-row-gap: 3rem; }

.types-columns-container {
  display: grid;
  grid-template-columns: 3rem 1fr max-content;
  grid-column-gap: 1.5rem;
  justify-items: center;
  align-items: center; }
  .types-columns-container p {
    font-size: 1.8rem; }
  .types-columns-container .error-messages {
    grid-column: 2 / 3;
    font-size: 1.5rem;
    color: orangered;
    justify-self: start;
    margin-top: -4rem; }

.create-construction-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 18rem) [col-end]) minmax(3rem, 1fr) [user-end]; }

.all-constructions-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, max-content); }

.cards-main {
  display: grid; }
  .cards-main-1 {
    grid-template-columns: 1fr [start-center] repeat(8, minmax(min-content, 20rem)) [end-center] 1fr;
    padding: 2rem;
    border-bottom: 2px solid #E0E0E0; }
  .cards-main-2 {
    grid-template-columns: 1fr [start-center] repeat(8, minmax(min-content, 15rem)) [end-center] 1fr;
    padding: 5rem; }

.search-construction-container {
  grid-column: start-center / end-center;
  display: grid;
  grid-template-columns: repeat(6, minmax(18rem, 1fr));
  grid-gap: 3rem;
  justify-content: center; }

.search-title {
  grid-column: 1 / -1;
  font-size: 3rem;
  justify-self: center;
  color: #101d2c; }

.cards-container {
  grid-column: start-center / end-center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 27rem));
  grid-gap: 4rem; }

.card {
  width: 100%;
  background-color: #E0E0E0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .card__image {
    width: 100%;
    height: 18rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    object-fit: cover; }
    .card__image:hover {
      filter: blur(2px) brightness(90%); }
  .card__edit {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 1;
    font-size: 2rem;
    justify-self: end;
    margin: 1rem;
    cursor: pointer;
    color: #B0B0B0;
    transition: all .2s; }
    .card__edit:hover {
      transform: scale(1.4); }
  .card__title {
    grid-column: 1 / -1;
    font-size: 2rem;
    color: #101d2c;
    width: 100%;
    border-top: 1px solid #404040;
    border-bottom: 2px solid #404040;
    text-align: center;
    padding: .5rem .5rem;
    font-weight: 300;
    text-transform: capitalize; }
  .card__middle {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    grid-row-gap: 1rem;
    padding: 1rem 0;
    text-transform: capitalize; }
  .card__info {
    text-align: center;
    font-size: 1.5rem; }
  .card__location {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center; }
  .card__icon {
    font-size: 2.5rem;
    color: #192e46; }
  .card__btn {
    width: 100%;
    grid-column: 1 / -1; }

@media only screen and (max-width: 93.75em) {
  .search-construction-container {
    grid-template-columns: repeat(3, minmax(18rem, 1fr));
    grid-row-gap: 1.5rem; } }

@media only screen and (max-width: 56.25em) {
  .cards-main-2 {
    padding: 3rem; }
  .cards-container {
    grid-gap: 2rem; } }

@media only screen and (max-width: 37.5em) {
  .search-construction-container {
    grid-template-columns: repeat(2, minmax(18rem, 1fr)); }
  .cards-main-2 {
    padding: 2rem; } }

@media only screen and (max-width: 25em) {
  .search-construction-container {
    grid-template-columns: minmax(18rem, 1fr);
    grid-row-gap: 1rem; }
  .search-title {
    font-size: 2.4rem; } }

.construction-container {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  align-content: center;
  display: grid;
  grid-template-columns: [construction-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) minmax(3rem, 1fr) [construction-end]; }

.construction {
  grid-column: col-start 1 / col-end 8;
  display: grid;
  grid-template-columns: repeat(20, [col-start] 1fr [col-end]);
  grid-template-rows: repeat(7, max-content);
  grid-row-gap: 2rem;
  padding: 0 0 4rem 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); }
  .construction__close {
    color: orangered;
    grid-column: col-start 1 / col-end 2;
    grid-row: 1 / 2;
    margin: 1rem 0 0 -3rem;
    font-size: 2rem;
    cursor: pointer; }
  .construction__title {
    grid-column: col-start 1 / col-end 8;
    grid-row: 1 / 2;
    justify-self: center;
    font-size: 3rem;
    text-transform: capitalize;
    color: #606060;
    margin-top: 1.5rem; }
  .construction__type, .construction__status, .construction__location, .construction__period {
    grid-column: col-start 1 / col-end 8;
    font-size: 1.8rem; }
    .construction__type .info, .construction__status .info, .construction__location .info, .construction__period .info {
      font-size: 2.6rem; }
    .construction__type .location, .construction__status .location, .construction__location .location, .construction__period .location {
      font-size: 2rem;
      font-style: italic; }
    @media only screen and (max-width: 75em) {
      .construction__type, .construction__status, .construction__location, .construction__period {
        grid-column: col-start 1 / col-end 6; }
        .construction__type .info, .construction__status .info, .construction__location .info, .construction__period .info {
          font-size: 2rem; }
        .construction__type .location, .construction__status .location, .construction__location .location, .construction__period .location {
          font-size: 1.8rem; } }
  .construction__image {
    grid-column: col-start 9 / col-end 19;
    grid-row: 1 / 6;
    background-color: #E0E0E0;
    display: grid;
    align-items: center;
    justify-items: center; }
    .construction__image-img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover; }
  .construction__images {
    grid-column: col-start 20 / col-end 20;
    grid-row: 1 / 6;
    background-color: #E0E0E0;
    display: grid;
    align-content: start; }
    .construction__images--img {
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      padding: 1px 2px;
      position: relative; }
      .construction__images--img-active {
        filter: brightness(50%); }
  .construction__description {
    font-size: 1.9rem;
    grid-column: col-start 1 / col-end 20;
    width: 100%;
    text-align: justify; }
    .construction__description .description {
      font-size: 1.6rem;
      padding: 1rem 4rem 0 1rem; }
  .construction__buttons {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 2rem;
    justify-content: end;
    padding: 0 3rem; }

@media only screen and (max-width: 75em) {
  .construction__title {
    grid-column: col-start 1 / col-end 6; }
  .construction__image {
    grid-column: col-start 7 / col-end 19; } }

@media only screen and (max-width: 56.25em) {
  .construction {
    grid-template-rows: repeat(6, max-content);
    grid-row-gap: 1.5rem; }
    .construction__title {
      grid-column: col-start 1 / col-end -1;
      grid-row: 1 / 2; }
    .construction__type {
      grid-column: col-start 1 / col-end 10; }
    .construction__status {
      grid-column: col-start 11 / col-end 20; }
    .construction__location {
      grid-column: col-start 1 / col-end 10; }
    .construction__period {
      grid-column: col-start 11 / col-end 20; }
    .construction__image {
      grid-column: col-start 3 / col-end 16;
      grid-row: 2 / 3;
      min-height: 32rem; }
    .construction__images {
      grid-column: col-start 17 / col-end 17;
      grid-row: 2 / 3; } }

@media only screen and (max-width: 43.75em) {
  .construction {
    padding-left: 1rem;
    padding-right: 1rem; }
    .construction__image {
      grid-column: col-start 1 / col-end 19;
      min-height: 29rem; }
    .construction__images {
      grid-column: col-start 20 / col-end 20; }
    .construction__description .description {
      padding: 1rem 1rem 0 1rem; }
    .construction__close {
      margin-left: 0; } }

@media only screen and (max-width: 37.5em) {
  .construction__image {
    grid-column: col-start 1 / col-end 18;
    min-height: 27rem; }
  .construction__images {
    grid-column: col-start 19 / col-end 20; } }

.not-found-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #606060; }

.img-404 {
  max-width: 90vw;
  max-height: 50vh;
  display: block; }

.text-404 {
  font-size: 8rem; }

.not-found {
  font-size: 3rem;
  font-weight: 600; }

.reset-password-container {
  grid-column: 1 / -1;
  min-height: 54vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #FEFEFE;
  padding-bottom: 4rem; }

.reset-header {
  min-height: 40vh;
  background-color: #B0B0B0;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center; }
  .reset-header .icon-reset {
    grid-column: col-start 4/ col-end 5;
    justify-self: center;
    font-size: 10rem;
    color: #E0E0E0; }

.reset-form-container {
  padding: 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  min-width: 40rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column; }

.reset-password-buttons {
  display: flex;
  margin-top: 2rem; }
  .reset-password-buttons .btn-link {
    flex: 1;
    color: red;
    border-bottom: none; }

.reset-verify {
  text-align: center;
  font-size: 1.6rem;
  color: #192e46;
  display: grid;
  grid-row-gap: 2rem; }
  .reset-verify-name {
    font-size: 2.5rem;
    text-transform: capitalize; }

@media only screen and (max-width: 25em) {
  .reset-form-container {
    min-width: 38rem;
    padding: 3rem; } }

.create-service-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) minmax(3rem, 1fr) [user-end]; }

.all-services-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 3rem [center-starts] repeat(8, minmax(min-content, 20rem)) [center-ends] 3rem; }

.services-cards {
  grid-column: center-starts / center-ends;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  grid-gap: 5rem;
  justify-content: center;
  align-content: start; }
  .services-cards__card {
    display: grid;
    align-items: center; }
    .services-cards__card img {
      grid-column: 1 / -1;
      height: 20rem;
      width: 100%;
      object-fit: cover; }
    .services-cards__card--name {
      grid-column: 1 / -1;
      color: white;
      background-color: #101d2c;
      padding: .5rem 1rem;
      font-size: 2rem;
      text-transform: capitalize;
      text-align: center; }
    .services-cards__card--icons {
      grid-column: 1 / -1;
      align-self: end;
      font-size: 2rem;
      background-color: #E0E0E0;
      display: grid;
      grid-template-columns: repeat(2, min-content) 1fr min-content;
      column-gap: 2rem;
      padding: 1rem; }
      .services-cards__card--icons-trash {
        color: orangered;
        cursor: pointer; }
      .services-cards__card--icons-pen {
        cursor: pointer;
        color: #486f9c; }
      .services-cards__card--icons-eye {
        cursor: pointer;
        color: #101d2c;
        grid-column: 4 / 5; }
