*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: [sidebar-start] max-content [sidebar-end full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }

@keyframes moveMenuDown {
  0% {
    opacity: 0;
    transform: translateY(-50vh); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveMenuUp {
  0% {
    opacity: 1;
    transform: translateY(57vh); }
  100% {
    opacity: 0;
    transform: translateY(0); } }

@keyframes loadingSpinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loadingModal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.footer {
  grid-column: sidebar-start / full-end;
  background-color: #192e46;
  min-height: 6vh;
  font-size: 2rem;
  color: #e7be8b;
  display: grid;
  justify-content: center;
  align-content: center; }
  .footer__autor {
    text-decoration: none;
    color: rgba(243, 208, 165, 0.89); }

.header {
  grid-column: sidebar-start / full-end;
  background-color: #B28451;
  min-height: 7vh;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  text-transform: capitalize;
  color: #101d2c; }
  .header__logo {
    max-width: 100%;
    max-height: 100%; }
  .header__title {
    justify-self: center;
    font-size: 3rem; }
  .header__user {
    font-size: 1.8rem;
    height: 100%;
    padding: 0 2rem;
    background-color: #e7be8b;
    color: #192e46;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    .header__user--username {
      display: grid;
      grid-template-columns: repeat(3, min-content);
      grid-column-gap: 2rem;
      align-items: center; }
    .header__user--menu {
      position: absolute;
      display: grid;
      grid-template-columns: max-content;
      background-color: white;
      box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
      z-index: 5;
      right: 0;
      top: -50vh;
      animation: moveMenuUp 1s ease; }
      .header__user--menu > * {
        padding: .3rem 2rem; }
        .header__user--menu > *:hover:not(:first-child) {
          cursor: pointer;
          color: white;
          background-color: #486f9c; }
      .header__user--menu__info {
        border-bottom: 1px solid #aaa;
        margin-bottom: 1rem; }
        .header__user--menu__info--name {
          font-size: 1.5rem; }
        .header__user--menu__info--email {
          font-size: 1.2rem;
          text-transform: lowercase;
          float: right; }
      .header__user--menu__edit {
        text-decoration: none;
        color: #101d2c; }
      .header__user--menu__logout {
        border-top: 1px solid #aaa;
        padding-top: 0px;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
    .header__user--menu-active {
      top: 7vh;
      right: 0;
      animation: moveMenuDown 1s ease; }

.main-layout {
  grid-column: full-start / full-end;
  min-height: 80vh; }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  background-color: #e7be8b;
  min-height: 87vh;
  padding-top: 3rem; }

.list-of-navs {
  font-size: 1.8rem;
  display: grid;
  grid-row-gap: 1rem; }

.navlink {
  list-style: none;
  cursor: pointer;
  position: relative;
  z-index: 3; }
  .navlink .link {
    color: #101d2c;
    text-decoration: none;
    display: block;
    padding: 1rem 3rem 1rem 1.5rem;
    position: relative;
    transition: color .2s .2s; }
    .navlink .link svg {
      margin-right: 2rem; }
    .navlink .link-name {
      display: inline; }
  .navlink .link.active {
    color: white;
    background-color: #192e46; }
  .navlink::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #192e46;
    transform: scaleY(0);
    transition: transform .2s,  width .2s .2s; }
  .navlink:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .navlink:hover .link {
    color: white; }

.smenu {
  background-color: #2b4058;
  list-style: none;
  position: relative;
  transition: all .5s;
  max-height: 0px;
  overflow: hidden; }
  .smenu-active {
    max-height: 20rem; }
  .smenu__link {
    cursor: pointer;
    position: relative;
    font-size: 1.6rem; }
    .smenu__link::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #486f9c;
      transform: scaleY(0);
      transition: transform .25s; }
    .smenu__link:hover {
      background-color: #374e68; }
      .smenu__link:hover::before {
        transform: scaleY(1); }
    .smenu__link .link {
      text-decoration: none;
      display: block;
      padding: .9rem 1.5rem .9rem 2rem;
      color: white; }
      .smenu__link .link svg {
        margin-right: 2rem; }
      .smenu__link .link-name {
        display: inline; }
    .smenu__link .link.active {
      background-color: #374e68; }
  .smenu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 3rem;
    height: 1rem;
    width: 1rem;
    background-color: #e7be8b;
    transform: rotate(45deg) translateY(-70%);
    z-index: 2; }

.modal {
  display: grid;
  justify-items: right;
  grid-template-columns: 1fr min-content;
  grid-row-gap: 3rem;
  column-gap: 1.5rem;
  animation: loadingModal .2s;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  box-shadow: 0 0 200rem 2000rem rgba(0, 0, 0, 0.466); }
  .modal__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-size: 2rem; }
  .modal__close {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: left;
    color: red;
    font-size: 2rem;
    margin: -2rem 0 0 -2rem;
    cursor: pointer; }

.loading-container {
  grid-column: 1 / -1;
  min-height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner {
  width: 10rem;
  height: 10rem;
  animation: loadingSpinner 5s infinite linear; }

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  grid-auto-flow: dense; }

.form-container {
  padding: 4rem;
  box-shadow: -0.5rem 0.5rem 4rem rgba(0, 0, 0, 0.15);
  grid-column: col-start 1 / col-end 8; }

.label {
  font-size: 1.6rem;
  display: block;
  margin-bottom: .5rem;
  text-transform: capitalize; }

.form-buttons {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 11rem);
  justify-content: end;
  grid-column-gap: 3rem; }

.form-images-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 12rem);
  justify-content: center;
  grid-gap: 2rem; }

.image-container {
  position: relative; }
  .image-container-main {
    border: 4px solid #c69963;
    border-radius: 5px; }
  .image-container-img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
    border-radius: 5px;
    transition: all .2s ease; }
  .image-container:hover .image-container-img {
    filter: blur(1px) brightness(80%); }
  .image-container-caption {
    cursor: pointer;
    position: absolute;
    top: .4rem;
    right: 1rem;
    opacity: 0;
    text-align: center;
    transition: all .2s ease;
    backface-visibility: hidden;
    color: red;
    font-size: 1.5rem; }
  .image-container:hover .image-container-caption {
    opacity: 1; }

.input {
  padding: .6rem 1.5rem;
  border: 2px solid #aaa;
  outline-style: none;
  border-radius: 5px;
  width: 100%; }
  .input__add {
    border-color: #599e7e;
    background-color: #99e2c052; }

.input-error {
  font-size: 1.4rem;
  padding-top: .5rem;
  color: rgba(255, 68, 0, 0.8); }

.textarea {
  padding: .6rem 1.5rem;
  border: 2px solid #aaa;
  outline-style: none;
  border-radius: 5px;
  width: 100%;
  height: 80%;
  resize: none; }

.textarea-container {
  grid-row: 2 / span 2;
  grid-column: 2 / -1; }

.select:hover {
  cursor: pointer; }

.option {
  color: #192e46; }

.input[type=date]::-webkit-inner-spin-button {
  display: none; }

.input[type=date]::-webkit-clear-button {
  display: none; }

.input[type=date]::-webkit-calendar-picker-indicator {
  font-size: 1.6rem;
  background-color: white;
  color: #aaa; }
  .input[type=date]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer; }
  .input[type=date]::-webkit-calendar-picker-indicator:active {
    color: rgba(0, 0, 0, 0.7); }

.input[type=file] {
  display: none; }

.invalid {
  background-color: rgba(255, 68, 0, 0.05);
  border: 2px solid rgba(255, 68, 0, 0.5); }

.invalid[type=date]::-webkit-calendar-picker-indicator {
  background-color: transparent; }

.btn {
  background-color: #c69963;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451;
    transform: translateY(-2px); }
  .btn:active {
    transform: translateY(-1px); }
  .btn:focus {
    outline: none; }
  .btn-small {
    padding: .7rem 1rem; }
  .btn-cancel {
    background-color: orangered; }
    .btn-cancel:hover {
      background-color: red; }
  .btn-edit {
    background-color: #486f9c; }
    .btn-edit:hover {
      background-color: #03356d; }
  .btn-close {
    background-color: transparent;
    color: orangered; }
    .btn-close:hover {
      background-color: transparent; }
  .btn-add {
    background-color: #599e7e; }
    .btn-add:hover {
      background-color: #468166; }
  .btn-upload {
    border-radius: 4px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2rem;
    align-items: center;
    justify-items: center;
    padding-left: 2rem; }
  .btn-round {
    border-radius: 50%;
    padding: .9rem 1.1rem; }
  .btn-disabled {
    opacity: .35; }
    .btn-disabled:hover {
      background-color: #c69963; }

.btn-link {
  color: #B28451;
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #c69963;
  background-color: transparent;
  cursor: pointer; }
  .btn-link:focus {
    outline: none; }

.login-container {
  grid-column: 1 / -1;
  min-height: 87vh;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [login-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 6rem) [col-end]) minmax(3rem, 1fr) [login-end]; }

.add-user-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) minmax(3rem, 1fr) [user-end]; }

.edit-user-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 9rem) [col-end]) minmax(3rem, 1fr) [user-end]; }

.change-password-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 5rem) [col-end]) minmax(3rem, 1fr) [user-end]; }

.types-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [type-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(max-content, 9rem) [col-end]) minmax(3rem, 1fr) [type-end]; }

.types-rows-container {
  display: grid;
  grid-row-gap: 3rem; }

.types-columns-container {
  display: grid;
  grid-template-columns: 3rem 1fr max-content;
  grid-column-gap: 1.5rem;
  justify-items: center;
  align-items: center; }
  .types-columns-container p {
    font-size: 1.8rem; }
  .types-columns-container .error-messages {
    grid-column: 2 / 3;
    font-size: 1.5rem;
    color: orangered;
    justify-self: start;
    margin-top: -4rem; }

.create-construction-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 18rem) [col-end]) minmax(3rem, 1fr) [user-end]; }

.all-constructions-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, max-content); }

.cards-main {
  display: grid; }
  .cards-main-1 {
    grid-template-columns: 1fr [start-center] repeat(8, minmax(min-content, 20rem)) [end-center] 1fr;
    padding: 2rem;
    border-bottom: 2px solid #f9f7f6; }
  .cards-main-2 {
    grid-template-columns: 1fr [start-center] repeat(8, minmax(min-content, 15rem)) [end-center] 1fr;
    padding: 5rem; }

.search-construction-container {
  grid-column: start-center / end-center;
  display: grid;
  grid-template-columns: repeat(6, minmax(18rem, 1fr));
  grid-gap: 3rem;
  justify-content: center; }

.search-title {
  grid-column: 1 / -1;
  font-size: 3rem;
  justify-self: center;
  color: #101d2c; }

.cards-container {
  grid-column: start-center / end-center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 27rem));
  grid-gap: 4rem; }

.card {
  width: 100%;
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .card__image {
    width: 100%;
    height: 18rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    object-fit: cover; }
    .card__image:hover {
      filter: blur(2px) brightness(90%); }
  .card__edit {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 1;
    font-size: 2rem;
    justify-self: end;
    margin: 1rem;
    cursor: pointer;
    color: #c69963;
    transition: all .2s; }
    .card__edit:hover {
      transform: scale(1.4); }
  .card__title {
    grid-column: 1 / -1;
    font-size: 2rem;
    color: #101d2c;
    width: 100%;
    border-top: 1px solid #c69963;
    border-bottom: 2px solid #c69963;
    text-align: center;
    padding: .5rem .5rem;
    font-weight: 300;
    text-transform: capitalize; }
  .card__middle {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    grid-row-gap: 1rem;
    padding: 1rem 0; }
  .card__info {
    text-align: center;
    font-size: 1.5rem; }
  .card__location {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center; }
  .card__icon {
    font-size: 2.5rem;
    color: #192e46; }
  .card__btn {
    width: 100%;
    grid-column: 1 / -1; }

.construction-container {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  align-content: center;
  display: grid;
  grid-template-columns: [construction-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) minmax(3rem, 1fr) [construction-end]; }

.construction {
  grid-column: col-start 1 / col-end 8;
  display: grid;
  grid-template-columns: repeat(20, [col-start] 1fr [col-end]);
  grid-template-rows: repeat(7, max-content);
  grid-row-gap: 2rem;
  padding: 0 0 4rem 4rem;
  box-shadow: -0.5rem 0.5rem 4rem rgba(0, 0, 0, 0.15); }
  .construction__close {
    color: orangered;
    grid-column: col-start 1 / col-end 2;
    grid-row: 1 / 2;
    margin: 1rem 0 0 -3rem;
    font-size: 2rem;
    cursor: pointer; }
  .construction__title {
    grid-column: col-start 1 / col-end 8;
    grid-row: 1 / 2;
    justify-self: center;
    font-size: 3rem;
    text-transform: capitalize;
    color: #54483A;
    margin-top: 1.5rem; }
  .construction__type, .construction__status, .construction__location, .construction__period {
    grid-column: col-start 1 / col-end 8;
    font-size: 1.8rem; }
    .construction__type .info, .construction__status .info, .construction__location .info, .construction__period .info {
      font-size: 2.6rem; }
    .construction__type .location, .construction__status .location, .construction__location .location, .construction__period .location {
      font-size: 2rem;
      font-style: italic; }
  .construction__image {
    grid-column: col-start 9 / col-end 19;
    grid-row: 1 / 6;
    background-color: #ddd;
    display: grid;
    align-items: center;
    justify-items: center; }
    .construction__image-img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover; }
  .construction__images {
    grid-column: col-start 20 / col-end 20;
    grid-row: 1 / 6;
    background-color: #f9f7f6;
    display: grid;
    align-content: start; }
    .construction__images--img {
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      padding: 1px 2px;
      position: relative; }
      .construction__images--img-active {
        filter: brightness(50%); }
  .construction__description {
    font-size: 1.9rem;
    grid-column: col-start 1 / col-end 20;
    width: 100%; }
    .construction__description .description {
      font-size: 1.6rem;
      padding: 1rem 4rem 0 1rem; }
  .construction__buttons {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 2rem;
    justify-content: end;
    padding: 0 3rem; }
