*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: [sidebar-start] max-content [sidebar-end full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }

.footer {
  grid-column: sidebar-start / full-end;
  background-color: #192e46;
  min-height: 6vh;
  font-size: 2rem;
  color: rgba(230, 183, 125, 0.89);
  display: grid;
  justify-content: center;
  align-content: center; }
  .footer__autor {
    text-decoration: none;
    color: rgba(243, 208, 165, 0.89); }

.header {
  grid-column: sidebar-start / full-end;
  background-color: #B28451;
  min-height: 7vh;
  padding-right: 4rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  text-transform: capitalize;
  color: #101d2c; }
  .header__title {
    justify-self: center;
    font-size: 3rem; }
  .header__user {
    font-size: 1.8rem;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(230, 183, 125, 0.89);
    color: #192e46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    .header__user:hover .header__user--menu {
      display: grid;
      grid-template-columns: max-content;
      top: 7vh;
      right: 0; }
    .header__user--menu {
      display: none;
      position: absolute;
      background-color: rgba(243, 208, 165, 0.89);
      box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .header__user--menu > * {
        padding: .3rem 2rem; }
        .header__user--menu > *:hover:not(:first-child) {
          cursor: pointer;
          color: white;
          background-color: #486f9c; }
      .header__user--menu__info {
        border-bottom: 1px solid #aaa;
        margin-bottom: 1rem; }
        .header__user--menu__info--name {
          font-size: 1.5rem; }
        .header__user--menu__info--email {
          font-size: 1.2rem;
          text-transform: lowercase;
          float: right; }
      .header__user--menu__edit {
        text-decoration: none;
        color: #101d2c; }
      .header__user--menu__logout {
        border-top: 1px solid #aaa;
        padding-top: 0px;
        margin-top: 1rem; }

.main-layout {
  grid-column: full-start / full-end;
  min-height: 80vh; }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  background-color: rgba(230, 183, 125, 0.89);
  min-height: 87vh;
  padding-top: 3rem; }

.list-of-navs {
  font-size: 1.8rem;
  display: grid;
  grid-row-gap: 1rem; }

.navlink {
  list-style: none;
  cursor: pointer;
  position: relative; }
  .navlink a {
    color: #101d2c;
    text-decoration: none;
    display: block;
    padding: 1rem 4rem;
    position: relative;
    z-index: 3;
    transition: color .2s .2s; }
  .navlink a.active {
    color: white;
    background-color: #192e46; }
  .navlink::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #192e46;
    transform: scaleY(0);
    transition: transform .2s, width .2s .2s; }
  .navlink:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .navlink:hover a {
    color: white; }

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem; }

.form-container {
  padding: 5rem;
  box-shadow: -1rem 1rem 4rem rgba(0, 0, 0, 0.15);
  grid-column: col-start 1 / col-end 8; }

.input {
  padding: .6rem 1.5rem;
  border: 2px solid #aaa;
  outline-style: none;
  border-radius: 5px;
  width: 100%; }

.input-error {
  font-size: 1.4rem;
  padding-top: .5rem;
  color: rgba(255, 68, 0, 0.8); }

.invalid {
  outline-color: orangered;
  background-color: rgba(255, 68, 0, 0.05);
  border-style: none;
  border: 2px solid rgba(255, 68, 0, 0.5); }

.label {
  font-size: 1.6rem;
  display: block;
  margin-bottom: .5rem;
  text-transform: capitalize; }

.form-buttons {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 11rem);
  justify-content: end;
  grid-column-gap: 3rem; }

.btn {
  background-color: #c69963;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }
  .btn:focus {
    outline: none; }
  .btn-cancel {
    background-color: orangered; }
    .btn-cancel:hover {
      background-color: red; }
  .btn-disabled {
    opacity: .35; }
    .btn-disabled:hover {
      background-color: #c69963; }

.login-container {
  grid-column: 1 / -1;
  min-height: 87vh;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [login-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 6rem) [col-end]) minmax(3rem, 1fr) [login-end]; }

.add-user-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) minmax(3rem, 1fr) [user-end]; }

.edit-user-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [user-start] minmax(3rem, 1fr) repeat(8, [col-start] minmax(min-content, 9rem) [col-end]) minmax(3rem, 1fr) [user-end]; }
